body {
    background-color: black;
}

.bar-container {
  position: absolute;
}

.bar {
  margin-bottom: 10px;
}

.fill {
  transition-duration: 0.3s;
}

.character {
  position: absolute;
  transform: translate(-50%, -50%)
}
