body {
    background-color: black;
}

.bar-container {
  position: absolute;
}

.bar {
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}

.last {
  position: absolute;
  z-index: 2;
}

.fill {
  transition-duration: 0.3s;
  position: absolute;
  z-index: 3;
}

.character {
  position: absolute;
  transform: translate(-50%, -50%)
}
